@using viewer.Views.Message;
@model ChatModel
@{
    ViewData["Title"] = "Chat Default";
}

<html>
<head>
    <title>CONTOSO MEDICAL CENTER</title>
</head>
<body>
    <form action="/message/setenvironment" method="post">
        <div>
            <label for="Environment">CPM Target Environment: </label>
            <select id="Environment" name="Environment">
@* 
                <option value="INT" selected="selected">INT</option>
 *@

@* 
                <option value="PPE">PPE</option>
                <option value="PROD">PROD</option>
 *@


                <option value="INT" selected="selected">INT</option>
                <option value="LOCALINT">LOCAL with INT (Won't work in deployed web app.')</option>
                <option value="LOCALPPE">LOCAL with PPE (Won't work in deployed web app.')</option>
                <option value="PPE">PPE</option>
                <option value="PROD">PROD</option>

            </select>
            <br />

            <label for="ChannelRegistrationId">Whatsapp Business Channel: </label>
            <select id="ChannelRegistrationId" name="ChannelRegistrationId">
@* 
                <option value="52b11371-748c-4757-a89c-911cd6b81aca">Business Ph: +1-877-219-0760 ("52b11371-748c-4757-a89c-911cd6b81aca")(INT)</option>
                <option value="08c04423-72c7-4660-bfc6-610b190fc44b">Business Ph: +1-866-237-2935 ("08c04423-72c7-4660-bfc6-610b190fc44b")(INT)</option>
 *@
@* 
                <option value="873a641f-637e-47bd-8cf0-6dc7bfb52a8f">Business Ph: +1-855-245-2050 ("873a641f-637e-47bd-8cf0-6dc7bfb52a8f")(PPE)</option>
                <option value="b82d9eb3-a12b-4010-aecc-30db74de9603">Business Ph: +1-844-746-5197 ("b82d9eb3-a12b-4010-aecc-30db74de9603")(PPE)</option>
                <option value="65bd3259-1317-4567-a8af-4af4ef811d60">Business Ph: +1-833-578-1840 ("65bd3259-1317-4567-a8af-4af4ef811d60")(PPE)</option>
 *@


                <option value="52b11371-748c-4757-a89c-911cd6b81aca">Business Ph: +1-877-219-0760 ("52b11371-748c-4757-a89c-911cd6b81aca")(INT)</option>
                <option value="08c04423-72c7-4660-bfc6-610b190fc44b">Business Ph: +1-866-237-2935 ("08c04423-72c7-4660-bfc6-610b190fc44b")(INT)</option>
                <option value="873a641f-637e-47bd-8cf0-6dc7bfb52a8f">Business Ph: +1-855-245-2050 ("873a641f-637e-47bd-8cf0-6dc7bfb52a8f")(PPE)</option>
                <option value="b82d9eb3-a12b-4010-aecc-30db74de9603">Business Ph: +1-844-746-5197 ("b82d9eb3-a12b-4010-aecc-30db74de9603")(PPE)</option>
                <option value="65bd3259-1317-4567-a8af-4af4ef811d60">Business Ph: +1-833-578-1840 ("65bd3259-1317-4567-a8af-4af4ef811d60")(PPE)</option>
                <option value="TBD">TBD (PROD)</option>

            </select>
            <br />

            <label for="PhoneNumber">Recipient phone number with country code (for ex:13345678890): </label>
            <input type="text" id="PhoneNumber" name="PhoneNumber" />
            <br />

            <input type="submit" value="SetEnvironment" />
            <br />

            <label>Environment: @ViewData["Environment"]</label>
            <br />
            <label>ChannelRegistrationId: @ViewData["ChannelRegistrationId"]</label>
            <br />
            <label>Recipient PhoneNumber: @ViewData["PhoneNumber"]</label>
            <br />
            <label>ConversationID: @ViewData["ConversationId"]</label>
            <br />
            <br />
        </div>
    </form>
    <hr style="height:2px; border:0; border-top:2px dashed brown;">
    <h1>Use below for Debugging Purposes</h1>
    <hr style="height:2px; border:0; border-top:2px dashed brown;">
    <form action="/message/send" method="post">
        <div>
            <label for="Message">Text to send: </label>
            <input type="text" id="Message" name="Message" />
            <br />
            <label>Text send status: @ViewData["Message"]</label>
        </div>
        <div>
            <input type="submit" value="Send to Whatsapp Recipient" />
            <br />
            <br />
        </div>
    </form>
    <form action="/message/StartAIConversationWithText" method="post">
        <div>
            <label for="Message">Text to send: </label>
            <input type="text" id="InitialMessage" name="InitialMessage" value="Hello there from Contoso." />
            <br />
            <label>AI enable status: @ViewData["StartAITextMessage"]</label>
        </div>
        <div>
            <input type="submit" value="Start AI conversation with text" />
            <br />
            <br />
        </div>
    </form>
    <form action="/message/StartAIConversationWithTemplate" method="post">
        <div>
            <label for="Message">Template Name: </label>
            <input type="text" id="TemplateName" name="TemplateName" value="annual_checkup_reminder" />
            <br />
            <label>AI enable status: @ViewData["StartAITemplateMessage"]</label>
        </div>
        <div>
            <input type="submit" value="Start AI conversation with template" />
            <br />
            <br />
        </div>
    </form>
    <form action="/message/elevate" method="post">
        <div>
            <label for="InitialMessage">Simulated user-initiated message: </label>
            <input type="text" id="InitialMessage" name="InitialMessage" value="Hi, I need some assistance." />
            <br/>
            <input type="submit" value="EngageAI" />
            <br />
            <label>AI Engagement Status: @ViewData["AIEngagementStatus"]</label>
            <br />
            <br />
        </div>
    </form>
    <form action="/message/deelevate" method="post">
        <div>
            <label for="InitialMessage">Simulated user response message before disengagement: </label>
            <input type="text" id="InitialMessage" name="InitialMessage" value="Thank you for your assistance." />
            <br />
            <input type="submit" value="DisengageAI" />
            <br />
            <label>AI Disengagement Status: @ViewData["AIDisengagementStatus"]</label>
            <br />
            <br />
        </div>
    </form>
    <form action="/message/DeliverFunctionResult" method="post">
        <div>
            <label for="FunctionName">Function Name: </label>
            <select id="FunctionName" name="FunctionName">
                <option value="RetrievePatientRegistrationInfo" selected="selected">RetrievePatientRegistrationInfo</option>
                <option value="RegisterPatient">RegisterPatient</option>
                <option value="StoreSymptoms">StoreSymptoms</option>
                <option value="StorePreferredDoctorDetails">StorePreferredDoctorDetails</option>
                <option value="StorePreferredTimeSlots">StorePreferredTimeSlots</option>
                <option value="CheckPreferredDoctorAvailabilityAndScheduleVisit">CheckPreferredDoctorAvailabilityAndScheduleVisit</option>
                <option value="ScheduleAppointmentWithAGivenDoctor">ScheduleAppointmentWithAGivenDoctor</option>
                <option value="ScheduleAppointmentWithOnCallDoctor">ScheduleAppointmentWithOnCallDoctor</option>
            </select>
            <br />
            <label for="FunctionResult">Function Result Object (string): </label>
            <input type="text" id="FunctionResult" name="FunctionResult" />
            <br />
            <div>
            Examples: {"patientName": "Mr. John Doe", "insuranceID": "ID23456"}
            <br />
            Examples: {"errorResponse": "error retrieving patient information due to invalid ID."}
            </div>
            <br />
@*             <select id="FunctionResult" name="FunctionResult">
                <option value="RetrievePatientRegistrationInfo" selected="selected">RetrievePatientRegistrationInfo FunctionResult</option>
                <option value="RegisterPatient">RegisterPatient FunctionResult</option>
            </select>
 *@            
            <input type="submit" value="DeliverFunctionResultToAI" />
            <br />
            <label>DeliverFunctionResult Status: @ViewData["DeliverFunctionResultStatus"]</label>
            <br />
            <br />
        </div>
    </form>
</body>
</html>